h1 {
    color: rosybrown;
    margin: auto;
    
}

body {
    display: flex;
    background-color: pink;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    transition: font-size 1s;
    margin-bottom: 1rem;

}

button:hover {
    font-size: 1.0001rem;
    animation: wow 3s;
}

/* .img-container{
    width: 600px;
    height: 600px;
    background: black;
} */

img{
    max-width: 500px;
}



@keyframes wow {
    10% {
        background-color:aqua
    }
    20% {
        color:rgb(76, 238, 184)
    }
    30% {
        color:mediumaquamarine
    }
    40% {
        color:mintcream
    }
    50% {
        color:aqua
    }
    60% {
        color:aqua
    }
    70% {
        color:aqua
    }
    80% {
        color:rgb(162, 145, 211)
    }
    90% {
        color: palevioletred
    }

    100% {
        color: plum
    }
    
}

@media (max-width: 400px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.25rem;
    }
    img{
        width: 300px;
    }
}

@media (max-width: 500px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.25rem;
    }
    img{
        width: 300px;
    }
}

@media (max-width: 300px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.25rem;
    }
    img{
        width: 200px;
    }
}